<div class="container">
  <%= devise_error_messages! %>
  <div class="container col-md-6">
    <div class="container form_design col-md-5 header">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>        
        
      <div class="row">
        <div class="email-field col s6">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>
      </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

      <div class="row">
        <div class="password-field col s6">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>            
          <% end %>
        </div>
      </div>
        <br />
      <div class="row">
        <div class="password-field col s6">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", required: false %>
        </div>
      </div>
      
      <div class="row">
        <div class="form-inputs input-field col s12 l6 m12">
            <%= f.label :university, :class => "active" %>    
            <%= f.select :university, school_list, :placeholder => "Select University", :id => "school", autofocus: "true" %>
        </div>
      </div>

      <div class="row">
        <div class="telephone-field col s6">
          <%= f.label :phone %><br>
          <%= f.telephone_field :phone %>
        </div>
      </div>

      <div class="row">
        <div class="text-field col s6">
          <%= f.label :president %><br>
          <%= f.text_field :president %>
        </div>
      </div>

        <div class="row">
          <div class="number-field col s6">
          <%= f.label :member_count %><br>
          <%= f.number_field :member_count %>
          </div>
        </div>

        <div class="row">
          <div class="file-field input-field col s6">            
            <%=f.label :Upload_Image %><br><br>
            <%= f.button "file", :class => "btn blue" %>
            <%= f.file_field :image %>
            <% if school_url(current_group.university).include?('.edu') && current_group.image.url == 'school.png' %>
              <img id="edit-img" src="https://logo.clearbit.com/<%= school_url(current_group.university) %>?size='128x128'">
            <% else %>
              <img id="edit-img" src="<%= current_group.image.url()%>?size='128x128'" id="group-image">
            <% end %>
          </div>
        </div>
        <br>
        
        <div class="row">
          <div class="password-field col s6">
          <%= f.label :current_password %><br />
          <%= f.password_field :current_password, autocomplete: "off", hint: "we need your current password to confirm your changes", placeholder: "Confirm password to save changes", require: true %>
          </div>
        </div>
      <div style="text-align: left">
        <strong>Cancel my account</strong>
        <p class="">This can not be undone. All your data will be deleted.</p>
          <%= link_to registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete do %>
            <button class="red btn waves-effect waves-light">
              Delete
              <i class="material-icons right btn-icon">warning</i>
            </button>
          <% end %>
      </div>
      <br>
      <hr>
      <div id="confirm-changes">
        <h3>Confirm Changes</h3>
        <br>
        <button class="btn waves-light waves-effect green accent-4">
          <%= f.submit "Save" %>
          <i class="material-icons right btn-icon">send</i>
        </button>  
      </div>
    <% end %>
  </div>  
  </div>
</div>

