<div class="container header">
  <h2>Sign up</h2>
</div>

<div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |e| %>
  <%= devise_error_messages! %>

      <div class="row">
        <div class="email-field col s6">
          <%= e.label :email %><br />
          <%= e.email_field :email, autofocus: true %>      
        </div>
      </div>
      <div class="row">
        <div class="password-field col s6">        
          <%= e.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= e.password_field :password, autocomplete: "off" %>
        </div>
      </div>
      <div class="row">
        <div class="time-field col s6">
          <%= e.label :password_confirmation %><br />
          <%= e.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= e.label :university %>
          <%= e.text_field :university %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= e.label :president %>
          <%= e.text_field :president %>
        </div>
      </div>
      <div class="row">
        <div class="telephone-field col s6">
          <%= e.label :phone %>
          <%= e.text_field :phone %>
        </div>
      </div>
      <div class="row">
        <div class="number-field col s6">
          <%= e.label :member_count %>
          <%= e.number_field :member_count %>
        </div>
      </div>      
        <p>
          <button class="btn waves-effect waves-light green accent-4" type="submit" name="action">
            <%= e.submit "Save" %>  
          </button>          
        </p>
  <% end %> 
</div>

<%= render "devise/shared/links" %>

