<div class="container">
  <%= form_for(@group) do |f| %>

    <div class="row">
      <div class="input-field col s6">
        <%= f.label :email %><br />
        <%= f.email_field :email%>      
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">        
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <%= f.label :university %>
        <%= f.text_field :university %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <%= f.label :president %>
        <%= f.text_field :president %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <%= f.label :phone %>
        <%= f.telephone_field :phone %>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <%= f.label :member_count %>
        <%= f.number_field :member_count %>
      </div>
    </div>      
      <p>
        <button class="btn waves-effect waves-light green accent-4" type="submit" name="action">
          <%= f.submit "Save" %>  
        </button>          
      </p>
  <% end %> 
</div>