<div class="container">
  <div class="header">
    <h1 class="event-header text-muted">Current University Partners</h1>  
  </div>
  <div class="text-muted col-md-12 row"> 
    <% @groups.each do |group|%>
      <div class="col-md-4 col-sm-12" >
        <div class="card event-card groups" id="effects">
          <div class="card-block event-block">
            <span> <%= link_to group.university, group %></span>
            <hr>
            <div class="event-details">
              <p class="card-text event-text">Email: <%= group.email %></p>
              <p class="card-text event-text">Phone: <%= group.phone %></p>
              <br>
              <% if current_group == group %>
                <span><%= link_to 'Edit', edit_group_registration_path(group) %></span>
                <span>
                <%= link_to 'Delete', group_path(group),
                        :method => :delete,
                        data: { confirm: 'Are you sure?' } 
                %>              
                </span>
              <% end %>
            </div>
            <br>
          </div>
        </div>
      </div>
    <% end %>
    <br>
  </div>
</div>