<div class="container">
  <div class="header">
    <h1 class="event-header text-muted"><%= @group.university %></h1>  
  </div>
    <div class="text-muted row">               
      <div class="col-md-4">
        <div style="width: 100%, height: 70%;" class="waves-effect waves-block waves-light">                        
          <ul class="collection with-header">
            <li class=>
              <div id="group-info" style="background-image: url('<%= @group.image.url() %>');">
              </div>
            </li>
            <li class="collection-item">President: <%= @group.president %></li>
            <li class="collection-item">Phone: <a href="tel:<%= @group.phone %>"></a><%= @group.phone %></li>
            <li class="collection-item">Email: <a href="mailto:<%= @group.email %>"><%= @group.email %></a>
            </li>
            <li class="collection-item">Members: <%= @group.member_count %></li>

            <!-- Chat button is below and setup but i want to style chat section before use. -->
<!--             <% if current_group != @group %>
              <li class="collection-item amber accent-4"><a href="/groups/<%= current_group.id %>/chats?other_group=<%= @group.id %>">Message<i style="margin-left: 10px;" class="material-icons">chat</i></a></li>
            <% end %> -->
            <!--  -->
          </ul>
          <br>
          <% if current_group == @group %>              
            <div class="">
              <%= link_to 'Edit', edit_group_path(@group), :class => "new-event-btn btn waves-effect waves-light green accent-4" %>
              <%= link_to 'Back', groups_path, :class => "new-event-btn btn waves-effect waves-light green accent-4" %>
            </div>
          <% end %>
        </div>
      </div>  
        <br>
        <br>
        <br>
      
        <div class="col-md-8">
          <ul class="collection with-header">
            <li style="text-align: center;" class="collection-header"><h4>Recent Posts</h4></li>
              <% @group.posts.each do |post| %>
                <li id="effects" class="collection-item">
                  <a href="/posts/<%= post.id %>">
                    <h3 class="card-title highlight"><%= post.body.capitalize %></h3>
                    <p>Created <%= ((Time.now  - post.created_at)/86400).ceil %> days ago</p>                
                  </a>
                </li>
              <% end %>            
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>


