<%= form_for(@event) do |e| %>
<% if @post %>
  <p>
    <%= e.label :name %><br>
    <%= e.text_field :name %>
  </p>
  <p>
    <%= e.label :date %><br>
    <%= e.date_field :date %>
  </p>
  <p>
    <%= e.label :time %><br>
    <%= e.time_field :time %>
  </p>
  <p>
    <%= e.label :address %><br>
    <%= e.text_field :address %>
  </p>
  <p>
    <%= e.label :description %><br>
    <%= e.text_field :description %>
  </p>

    <p>
      <%= e.submit "Save" %>
    </p>
<% else %>
  <p>There are no events, would you like to create one?</p> 
  <hr>
  <h2>Add an Event</h2>
  <a class="nav-link" href="/events/new">
    <i class="material-icons md-36 nav-icons">add_circle</i>
  <a/>
<% end %>

