<div class="container col-md-6">
  <%= form_for(@event) do |e| %>
    <% if @event %>
      <div class="row">
        <div class="input-field col s6">
          <%= e.label :name %>
          <%= e.text_field :name %>      
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">        
          <%= e.label :date %>
          <%= e.text_field :date, :id => "datepicker" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= e.label :time %>
          <%= e.text_field :time, :id => "timepicker" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= e.label :address %>
          <%= e.text_field :address %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= e.label :description %>
          <%= e.text_field :description %>
        </div>
      </div>
      <br>
        <p>
          <button class="btn waves-effect waves-light green accent-4" type="submit" name="action">
            <%= e.submit "Save" %> 
            <i class="material-icons right btn-icon">send</i>
          </button> 
        </p>
    <% end %> 
  <% end %> 
</div>
