<div class="container col-md-6">
  <%= form_for(@event) do |e| %>
    <% if @event %>
      <div class="row">
        <div class="input-field col s6">
          <%= e.label :name %>
          <%= e.text_field :name %>      
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">        
          <%= e.label :date %>
          <%= e.text_field :date, :id => "datepicker" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= e.label :time %>
          <%= e.text_field :time, :id => "timepicker" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= e.label :address %>
          <%= e.text_field :address %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <%= e.label :description %>
          <%= e.text_field :description %>
        </div>
      </div>
      <br>
        <p>
          <button class="btn waves-effect waves-light green accent-4" type="submit" name="action">
            <%= e.submit "Save" %> 
          </button>          
        </p>
    <% end %> 
  <% end %> 
</div>


<!-- 
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="I am not editable" id="disabled" type="text" class="validate">
          <label for="disabled">Disabled</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          This is an inline input field:
          <div class="input-field inline">
            <input id="email" type="email" class="validate">
            <label for="email" data-error="wrong" data-success="right">Email</label>
          </div>
        </div>
      </div>
    </form>
  </div>
 -->

