
      <br>
      <br>
      <br>
<div class="album text-muted col-md-12 row"> 
  <div class="posts col-md-7">
      <div class="container">
        <h2 class="new-header">Event</h2> 
      </div>

      <p>
        <strong class="cars-text post-text">Name</strong><br>    
        <span class="card-text post-text"><%= @event.name %></span>
      </p>

      <p>
        <strong class="cars-text post-text">Description</strong><br>  
        <span class="card-text post-text"><%= @event.description %></span>
      </p>

      <p>
        <strong class="cars-text post-text">Date</strong><br>
        <span class="card-text post-text"><%= @event.date.strftime("%m/%d/%Y") %></span>
      </p>

      <p>
        <strong class="cars-text post-text">Time</strong><br>
        <span class="card-text post-text"><%= @event.time.strftime("%l:%M%P") %></span>
      </p>

      <p>
        <strong class="cars-text post-text">Address</strong><br>
        <span class="card-text post-text"><%= @event.address %></span>
      </p>

      <p>
        <strong class="cars-text post-text">University</strong><br>
        <span class="card-text post-text"><%= @event.group.university.capitalize %></span>
      </p>  

    <% if current_group == @event.group %>
      <hr>
      <div class="">
        <%= link_to 'Edit', edit_event_path(@event), :class => "new-event-btn btn waves-effect waves-light green accent-4" %>
        
        <%= link_to 'Back', events_path, :class => "new-event-btn btn waves-effect waves-light green accent-4" %>
      </div>
      
    <% end %>
  </div>
</div>