<div class="home-feed row">
  <div class="feed text-muted col-md-7">
    <% if @post.length > 0 %>
    <h3 id="feed-header" class="header">Current Feed</h4> 
      <div id="effects" class="posts col-md-12"> 
        <div class="edit-icons">
            <form>
              <input type="text" placeholder="Create new post..." class="submit-on-click" >
            </form>
        </div>
      </div>
      <br>
      <% @post.each do |p| %>  
        <div id="effects" class="posts col-md-12">                                  
        <%= link_to post_path(p) do %>
          <div>
            <div class="edit-icons">        
              <% if p.group == current_group %>
                <%= link_to edit_post_path(p), :method => :get, class: "highlight" do %>
                  <i class="material-icons edit-icon">edit_mode</i>
                <% end %>
                <%= link_to post_path(p), :method => :delete, class: "highlight", data: { confirm: "Are you sure?"} do %>
                  <i class="highlight material-icons edit-icon delete-icon">delete</i>
                <% end %>
              <% end %>
            </div>
            <div id="img-post" class="row">
              <div id="img-in-post" class="">
                <span style="padding-right: 10px;"><%= image_tag p.group.image.url(:thumb), class: "avatar" %></span>  
              </div>              
              <div id="text-post" class="">
                <h3 class="card-title"><%= link_to p.body.capitalize, p, class: "highlight" %></h3>
                <span class="card-text post-text"><%= link_to p.group.university, group_path(p.group), class: "highlight" %></span><br>    
              </div>              
            </div>             
            
            <hr>
            
            <div id="social">
              <%if p.liked_by?(current_group)%>
                <%= link_to unlike_post_path(p), :method => :put, class: "waves-effect social-btn waves-light blue btn" do %>
                  <i class="material-icons left">favorite</i><%=p.likers(Group).count%>
                <% end %>
              <%else%>
                <%= link_to like_post_path(p), :method => :put, class: "waves-effect social-btn waves-light blue btn" do %>
                  <i class="material-icons left">favorite</i><%=p.likers(Group).count%>
                <% end %>
              <%end%>  
              <% if current_group != p.group %>
                <%= link_to post_path(p), class: "waves-effect waves-light social-btn blue btn" do %>
                  <i class="material-icons left">comment</i><%=p.comments.count%>
                <% end %>
              <% end %>
            </div>

          </div>                  
        <% end %>
        </div>
      <% end %>
    <% else %>
      <p>No Posts yet </p>
    <% end %>
  </div>

  <div id="side-feed" class="col-md-5 text-muted">
      <h3 id="side-feed-header" class="header">Activity</h4>
      <ul class="collection">
        <li class="collection-item">New Post</li>
        <li class="collection-item">New Comment</li>
        <li class="collection-item">New Event</li>
      </ul>
  </div>

  <!-- chat button -->


</div>
