<div class="container text-muted col-md-12 row"> 

<!-- post results -->
    <% if @post.length > 0 %>
      <div class=" search-results col-md-12">
        <h2 class="text-muted result-title header">Post Results</h2>
      </div>
      <% @post.each do |p| %>
        <div class="col-md-12">
          <div id="effects" class="posts col-md-7"> 
            <h3 class="card-title"><%= link_to p.body, p %></h3>
            <span class="">Created: <%= p.created_at.strftime("%m/%d/%Y at %l:%M%P") %></span><br>
            <p class="">By: <%= link_to p.group.university, group_path(p.group) %></p>
                        <div id="social">
              <%if p.liked_by?(current_group)%>
                <%= link_to unlike_post_path(p), :method => :put, class: "waves-effect social-btn waves-light blue btn" do %>
                  <i class="material-icons left">favorite</i><%=p.likers(Group).count%>
                <% end %>
              <%else%>
                <%= link_to like_post_path(p), :method => :put, class: "waves-effect social-btn waves-light blue btn" do %>
                  <i class="material-icons left">favorite</i><%=p.likers(Group).count%>
                <% end %>
              <%end%>  
              <% if current_group != p.group %>
                <%= link_to post_path(p), class: "waves-effect waves-light social-btn blue btn" do %>
                  <i class="material-icons left">comment</i><%=p.comments.count%>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>  

<!-- group results -->
  <% if @group.length > 0 %>

    <div class=" search-results col-md-12">
      <br>
      <br>
      <h2 class="text-muted result-title header">Group Results</h2>
    </div>
    <% @group.each do |g| %>
      <div class="col-md-12">
        <div id="effects" class="posts col-md-7">
          <h3 class="card-title"><%= link_to g.university, g %></h3>
          <span class="card-text post-text">Created: <%= g.created_at.strftime("%m/%d/%Y at %l:%M%P") %></span>
        </div>
      </div>
    <% end %>
  <% end %>
<br>
<br>
<!-- event results -->
  <% if @event.length > 0 %>
    <div class=" search-results col-md-12">
      <br>
      <br>
      <h2 class="text-muted result-title header">Event Results</h2>
    </div>
    <% @event.each do |e| %>
      <div class="col-md-12">
        <div id="effects" class="posts col-md-7">
          <h3 class="card-title"><%= link_to e.name, e %></h3>
          <span class="card-text post-text">Created: <%= e.created_at.strftime("%m/%d/%Y at %l:%M%P") %></span><br>
          <p class="card-text post-text">By: <%= link_to e.group.university, e %></p>     
        </div>
      </div>
    <% end %>
  <% end %>

  <% if @event.length == 0 && @group.length == 0 && @post.length == 0 %>
    <div class=" search-results col-md-12">
      <h2 class="text-muted result-title header">No records exist at this time</h2>
    </div>
  <% end %>
</div>