      <br>
      <br>
      <br>
<div class="album text-muted col-md-12 row"> 
  <div class="posts col-md-7">
    <div class="edit-icons">
      <% if @post.group == current_group %>
        <%= link_to edit_post_path(@post), :method => :get do %>
          <i class="material-icons edit-icon">edit_mode</i>
        <% end %>
        <%= link_to post_path(@post), :method => :delete, data: { confirm: "Are you sure?"} do %>
          <i class="material-icons edit-icon delete-icon">delete</i>
        <% end %>
      <% end %>
    </div>
      <h3 class="cars-text post-text"><%= @post.body.capitalize %></h3>
      <span class="card-text post-text"><%= @post.group.university %></span>
      <hr>
      <%= link_to like_post_path(@post), :method => :put do %>
        <span class="btn btn-default"><i class="material-icons">thumb_up</i> <%=@post.votes_for.count%></span>
      <% end %>
      <hr>
      <% if @comments %>
        <h3 class="card-text post-text comment-title">Comments</h3>
      <% end %>
      <% @comments.each do |comment| %>
        <p class="card-text post-text"><%= comment.content.capitalize %> </p>
        <span class="card-text post-text comment-header"><%= comment.group.university %> - <%= comment.created_at.strftime("%m/%d/%Y") %> </span>
        <hr>
      <% end %> 
      <br> 
      <%= render 'comments/form' %>
      <%if @post.liked_by current_group%>
        <%= link_to dislike_post_path(@post), :method => :put do%>
          <div class="btn btn-default"><i class="material-icons">thumb_up</i> <%=@post.get_upvotes.size%></div>
        <% end %>
      <%else%>
        <%= link_to like_post_path(@post), :method => :put do%>
          <div class="btn btn-default"><i class="material-icons">thumb_up</i> <%=@post.get_upvotes.size%></div>
        <% end %>
      <%end%>
  </div>
</div>