<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UniversityPartnership</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <script src="https://use.fontawesome.com/a25aff42e9.js"></script>

  </head>

  <body>

      <div class="page-spacing">
      <nav class=" navbar navbar-toggleable-md fixed-top">
        <div class="nav-header">
        <ul class="navbar-nav">
          <a href="#menu-toggle" class="grid" id="menu-toggle">
            <li class="nav-item">
              <i class="material-icons md-36 nav-icons">menu</i>
            </li>
          </a>
          <a href="/">            
            <li class="nav-item">
              <a class="navbar-brand nav-item" href="/">
                <%= image_tag("logo.png", size: "55x45", :alt => "logo") %>
              </a>
            </li>
          </a>
        </ul>
          
        </div>      
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <%= form_tag posts_path, method: :get, class: "search-bar", role: "search" do %>
            <p>
              <%= text_field_tag :search, params[:search], placeholder: "Search...", class: "form-control" %>
              <% submit_tag "", name: nil, class: "submit-on-enter" %>
            </p>
          <% end %>
            <% if current_group %>
            <li class="nav-item">                  
              <a class="nav-link" href="/posts/new">
                <i class="material-icons md-36 nav-icons">add</i>
              <a/>
            </li>  
            <li class="nav-item">      
              <a href="/">
                <i class="material-icons md-36 nav-icons">notifications</i>
              </a>
            </li>     
            <% else %>
              <li class="nav-item active">
                <a class="nav-link" href="/groups/sign_in">Sign In</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#">|</a>
              </li>              
              <li class="nav-item active">
                <a class="nav-link" href="/groups/sign_up">Sign Up</a>
              </li>         
          <% end %>  
        </ul> 
    </nav>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">            
                <li>
                  <a href="/">
                    <i class="material-icons md-36">home</i>
                    <span class="side-bar-text">Home</span>
                  </a>
                </li>  
                <hr>
                <li>                
                  <a href="/groups">
                    <i class="material-icons md-36">group</i>
                    <span class="side-bar-text">Groups</span>
                  </a>
                </li>                
                <li>                
                  <a href="#">
                    <i class="material-icons md-36">mail</i>
                    <span class="side-bar-text">Messages</span>
                  </a>
                </li>
                <li>                
                  <a href="#">
                    <i class="material-icons md-36">event</i>
                    <span class="side-bar-text">Events</span>
                  </a>
                </li>
                <hr>
                <li>                
                  <a href="/groups/new">
                    <i class="material-icons md-36">person_add</i>
                    <span class="side-bar-text">Add Group</span>
                  </a>
                </li>                
                <li>                
                  <a href="/groups/edit">
                    <i class="material-icons md-36">settings</i>
                    <span class="side-bar-text">Settings</span>
                  </a>
                </li>
                <hr>
                <li>
                  <%= link_to destroy_group_session_path, :method => :delete do %>
                    <i class="material-icons md-36">exit_to_app</i>
                    <span class="side-bar-text">Logout</span>
                  <% end %>
                </li>                
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
              <div class="col-lg-12">
                  <p class="notice"><%= notice %></p>
                  <p class="alert"><%= alert %></p> 
                  <%= yield %>                       
                  <p id="demo"></p>
              </div>
            </div>
        </div>
    </div>
    </div>
<!--     <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      </div>
    </footer> -->
    <!-- jQuery first, then Tether, then Bootstrap JS. -->

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script>
        $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
  </body>
</html>